<!DOCTYPE html>
<html>

<head>
    <title>Cyber AI</title>
</head>

<body>

    <input type="text" id="userInput">

    <button type="button" onclick="sendMessage()">
        Send
    </button>

    <div id="chat"></div>

<script>

async function sendMessage(){

    let message = document.getElementById("userInput").value;

    console.log("Sending:", message);

    let response = await fetch("/chat", {

        method: "POST",

        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({
            message: message
        })

    });

    let data = await response.json();

    console.log(data);

    document.getElementById("chat").innerHTML += `
        <p>${data.reply}</p>
    `;
}

</script>

</body>
</html>
