<!DOCTYPE html>
<html>
<head>
    <title>File Scanner</title>
</head>
<body style="font-family:Arial; background:#0f2027; color:white; text-align:center;">

<h2>📁 File Safety Scanner</h2>

<form method="POST" action="/scan_file" enctype="multipart/form-data">
    <input type="file" name="file">
    <br><br>
    <button type="submit">Scan File</button>
</form>

<form action="/scan_file" method="POST" enctype="multipart/form-data">

    <label for="fileInput" style="display:inline-block;padding:10px;background:#ddd;border-radius:8px;">
        📁 Select File
    </label>

    <input type="file" name="file" id="fileInput" style="display:none;">

    <br><br>

    <button type="submit">Scan File</button>

</form>
    
    
</body>
</html>
