<form action="/scan_file" method="POST" enctype="multipart/form-data">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <label style="
        display:inline-block;
        padding:12px 18px;
        background:#1e90ff;
        color:white;
        border-radius:8px;
        cursor:pointer;
        margin-bottom:10px;
    " for="fileInput">
        📁 Select File
    </label>

   <input type="file" name="file" onchange="alert('File picker opened!')">
    <br><br>

    <button type="submit" style="
        padding:10px 20px;
        border:none;
        border-radius:8px;
        background:green;
        color:white;
    ">
        📤 Upload & Scan
    </button>

</form>
<form action="/scan_file" method="POST" enctype="multipart/form-data">

    <input type="file" name="file">

    <button type="submit">Upload</button>

</form>
