<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Scanner</title>
</head>

<body style="font-family:Arial; background:#0f2027; color:white; text-align:center; padding:20px;">

<h2>📁 File Safety Scanner</h2>

<form action="/scan_file" method="POST" enctype="multipart/form-data">

    <!-- FILE INPUT (IMPORTANT) -->
    <input type="file" name="file" style="
        display:block;
        margin:20px auto;
        font-size:18px;
        color:white;
    ">

    <br>

    <!-- SUBMIT BUTTON -->
    <button type="submit" style="
        padding:12px 20px;
        border:none;
        border-radius:8px;
        background:green;
        color:white;
        font-size:16px;
    ">
        📤 Upload & Scan
    </button>

</form>
<audio id="bgMusic" loop>
    <source src="/static/sounds/password.mp3" type="audio/mp3">
</audio>

<script>

document.addEventListener("click", function () {

    let music = document.getElementById("bgMusic");

    if (music) {

        music.volume = 0.12;

        music.play().catch(()=>{});

    }

}, { once: true });

</script>    

</body>
</html>
