<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>

<style>
body {
    background: black;
    color: #00c6ff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 28px;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 10px #00c6ff; }
    to { text-shadow: 0 0 25px #00c6ff; }
}
</style>

</head>

<body>
<!-- 🔊 SOUND -->
<audio id="bgSound" loop>
    <source src="/static/sounds/bg.mp3" type="audio/mpeg">
</audio>

    
<h1>🛡️ Welcome {{name}}</h1>
<p>Loading your Cyber Safety Dashboard...</p>

<script>
window.onload = function(){

    let sound = document.getElementById("bgSound");
    sound.volume = 0.1;   // halki creepy sound

    // 5 sec baad dashboard
    setTimeout(function(){
        window.location.href = "/home";
    }, 5000);

}
</script>
    
<script>
window.onload = function(){

    let audio = document.getElementById("bgSound");

    // 🔥 autoplay trick
    audio.muted = true;
    audio.play();

    setTimeout(()=>{
        audio.muted = false;
        audio.volume = 0.1;
    }, 1000);

    // ⏱️ 5 sec baad redirect
    setTimeout(function(){
        window.location.href = "/home";
    }, 5000);

}
</script>
    
</body>
</html>
