<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>

<style>
body {
    background: black;
    color: #00c6ff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 28px;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 10px #00c6ff; }
    to { text-shadow: 0 0 25px #00c6ff; }
}
</style>

</head>

<body>
<body onclick="startSound()">
<!-- 🔊 background sound -->
<audio id="bgSound" loop>
    <source src="/static/uploads/sounds/ribhavagrawal-a-savage-hackerbass-boosted-199368.mp3" type="audio/mpeg">
</audio>

<script>
window.onload = function(){

    let audio = document.getElementById("bgSound");

    audio.volume = 0.1;

    audio.play().then(()=>{
        console.log("Sound started");
    }).catch(e=>{
        console.log("Blocked:", e);
    });

    setTimeout(()=>{
        window.location.href = "/home";
    }, 7000);
}
</script>

<script>
function startSound(){
    let audio = document.getElementById("bgSound");
    audio.volume = 0.1;
    audio.play();
}
</script>    

</body>
</html>
